blinker
certifi
charset-normalizer
click
docopt
dominate
Flask
Flask-Bootstrap
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
pipreqs
python-dotenv
requests
urllib3
visitor
Werkzeug
WTForms
yarg
gunicorn
